@using MvcStok.Models.Entity
@model List<TBL_MUSTERİ>

@{
    ViewBag.Title = "MüşteriListesi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>Müşteri ID</th>
        <th>Müşteri ADI</th>
        <th>Müşteri Soyadı</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.müsteriıd</td>
            <td>@item.müsteriad</td>
            <td>@item.müsterisoyad</td>
            <td><a href="/Müşteri/Sil/@item.müsteriıd" class="btn btn-danger">SİL</a></td>
            <td><a href="/Müşteri/Güncelle/@item.müsteriıd" class="btn btn-success">GÜNCELLE</a></td>
           

        </tr>
    }



</table>
<a href="/Müşteri/YeniMüşteri/" class="btn btn-info">YENİ MÜŞTERİ EKLE</a>

