
@{
    ViewBag.Title = "YeniMüşteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>Yeni Müşteri Ekleme Sayfası</h3>
<br /><br />

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        <input type="text" class="form-control" name="müsteriad"/>
        <br /><br />
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="müsterisoyad"/>
        <br /><br />
        <button class="btn btn-info">MÜŞTERİ EKLE</button>
    </div>



</form>

