
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>Yeni Kategori Ekleme Sayfası</h3>
<br />

<form class="form-group" method="post" >
    <div>
        <label>KATEGORİ ADI</label>
        <br /><br />
        <input type="text" class="form-control" name="kategoriad"/>
        <br /><br />
        <button class="btn btn-info">KATEGORİ EKLE</button>
    </div>




</form>




