
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal2">AÇIKLAMA</button>
    <div class="modal" id="Modal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h3 class="modal-title">YARARLANILAN KAYNAK </h3>

                </div>
                <div class="modal-body">
                    <label>Bu proje Züleyha Eker tarafından Mayıs 2024'de Eğitmen Murat Yücedağ'ın "50 Derste Mvc" YouTube serisi ile yapılmıştır.</label>
                </div>
            </div>
        </div>
    </div>

